.top-nav {
    display: flex;
    flex-direction: row;
    height: 25px;
    height: 62px;
    box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}
.nav-header {
    font-size: 26px;
    font-weight: bold;
    color:rgb(238, 43, 29);
    font-family: serif;
    padding: 0px 0;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.list a {
    text-decoration: none;
    color: #0220a3;
    font-weight: bold;
    font-family: 'Bitter', serif;
    height: 100%;
    font-size: 40px;
}